<div class="top">
  <h1>Homepage</h1>
  <div class="inputs">
    <div class="search">
      <input type="text" title="Search" placeholder="Search by Book Name" />
      <button id="search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="filter">
      <input list="category" name="category" placeholder="Filter by category" />
      <datalist id="category">
        <option value="General">General</option>
        <option value="History">History</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Literary">Literary</option>
      </datalist>
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </div>
  </div>
</div>
