<h1 class="single-book-title">Book Overview-My First Love</h1>
<div class="single-book">
  <h2>My first love</h2>
  <div class="single-book-content">
    <div class="single-book-img">
      <img src="../../../../assets/img/money.jpg" />
    </div>
    <div class="single-book-text">
      <p class="single-book-id">BookID:</p>
      <p class="bold-text">Author Name:<span class="normal-text">2000</span></p>
      <p>Contry:USA</p>
      <p>Category:General</p>
      <p>ISBN:1234567890</p>
      <p class="single-book-paragraf">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <p class="bold-text">Nina Bandzin<span class="normal-text">USA</span></p>
      <p class="single-book-paragraf">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
      </p>
    </div>
  </div>
</div>
<div class="single-book-button">
  <a routerLink="/" class="book-overview single-book-btn">close</a>
</div>
