 @import "../../styles/variables";
:host {
  width: 48%;
}
 .search {
  border:0.5px solid black;
  border-radius: 5px;
  width: 100%;
  background: $text-color;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;

    input {
    width: 100%;
    border: 0px transparent;
    background-color: $text-color;
    text-align: center;
  }
}
.search input,:focus-visible {
  outline:none;
}
#search-btn {
  border: 0px transparent;
  background-color: $text-color;
}
