<div class="middle">
  <div class="box">
    <app-book
      title="Money power"
      src="assets/img/money.jpg"
      name="Name Surname 1998"
      category="Category:General"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      overview="details/money-power.html"
    >
    </app-book>
  </div>
  <div class="box">
    <app-book
      title="My First Love"
      src="assets/img/my-first-love.jpg"
      name="Name Surname 2000"
      category="Category:General"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      overview="details/my-first-love.html"
    ></app-book>
  </div>
  <div class="box">
    <app-book
      title="My Little Life"
      src="assets/img/my-little-life.jpg"
      category="Category:General"
      name=" Name Surname 2005"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      overview="details/my-litle-life.html"
    ></app-book>
  </div>
  <div class="box">
    <app-book
      title="The Lost Trip"
      src="assets/img/the-lost-trip.jpg"
      name="Name Surname : 2008"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      category="Category:History"
      overview="details/the-lost-trip.html"
    >
    </app-book>
  </div>
  <div class="box">
    <app-book
      title="Dark"
      src="assets/img/dark.jpg"
      name="Name Surname : 2010"
      category="Category:Fantasy"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      overview="details/dark.html"
    ></app-book>
  </div>
  <div class="box">
    <app-book
      title="Find Me"
      src="assets/img/find-me.jpg"
      name="Name Surname : 2021"
      category="Category:History"
      description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
      overview="details/find-me .html"
    ></app-book>
  </div>
</div>
