@import "../../styles/variables";
:host  {
  width: 48%;
  }


.filter  {
  border:0.5px solid black;
  border-radius: 5px;
  width: 100%;
  background: $text-color;
  height: 57px;
}

::ng-deep {
   .mat-select-panel {
    background-color: $text-color;
  }
  .mat-form-field-wrapper {
    padding: 0px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
  }
  .mat-form-field-underline {
    bottom: 0px;
  }


}



