<div class="wrapper">
  <!--search-bars and input field-->
  <div class="top">
    <app-headline></app-headline>
    <div class="inputs">
      <app-search (displaySearch)="showValue($event)"></app-search>
      <app-filter (displayValue)="showOption($event)"></app-filter>
    </div>
    <p class="display-message">{{ displaySearch }}</p>
    <p class="display-message">{{ displayValue }}</p>
  </div>
  <!---body of the books part of the site-->
  <app-book></app-book>
  <app-pagination></app-pagination>
</div>
