@import "../styles/variables";


.wrapper {
  width: 80%;
  margin:25px auto 0 auto;
}

.inputs {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.display-message {
  color: $text-color;
}
