<mat-card>
  <form
    class="example-form"
    [formGroup]="registerForm"
    (ngSubmit)="registerUser()"
  >
    <div class="register-input-field">
      <p>First Name</p>
      <input
        matInput
        formControlName="firstName"
        placeholder="First Name*"
        [formControl]="registerForm.controls.firstName"
      />
      <div class="error">
        <span *ngIf="registerForm.controls.firstName | validation : 'required'">
          Required First Name
        </span>
        <span *ngIf="registerForm.controls.firstName | validation : 'pattern'">
          Wrong First name
        </span>
      </div>
    </div>
    <div class="register-input-field">
      <p>Last Name</p>
      <input
        matInput
        formControlName="lastName"
        placeholder="Last Name*"
        [formControl]="registerForm.controls.lastName"
      />
      <div class="error">
        <span *ngIf="registerForm.controls.lastName | validation : 'required'">
          Required Last Name
        </span>
        <span *ngIf="registerForm.controls.lastName | validation : 'pattern'">
          Wrong Last name
        </span>
      </div>
    </div>
    <div class="register-input-field">
      <p>Email</p>
      <input
        matInput
        formControlName="email"
        placeholder="Email*"
        [formControl]="registerForm.controls.email"
      />
      <div class="error">
        <span *ngIf="registerForm.controls.email | validation : 'required'">
          Required Email
        </span>
        <span *ngIf="registerForm.controls.email | validation : 'pattern'">
          Wrong Email
        </span>
      </div>
    </div>
    <div class="register-input-field">
      <p>Password</p>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Password*"
        [formControl]="registerForm.controls.password"
      />
      <div class="error">
        <span *ngIf="registerForm.controls.password | validation : 'required'">
          Required Password
        </span>
        <span *ngIf="registerForm.controls.password | validation : 'pattern'">
          Wrong Password
        </span>
      </div>
    </div>
    <div class="register-input-field">
      <p>Confirm Password</p>
      <input
        type="password"
        matInput
        placeholder="Confirm Password*"
        formControlName="confirmPassword"
        [formControl]="registerForm.controls.confirmPassword"
      />
      <div class="error">
        <span
          *ngIf="
            registerForm.controls.confirmPassword | validation : 'required'
          "
        >
          Required Password
        </span>
        <span *ngIf="registerForm.controls.password | validation : 'pattern'">
          Wrong Password
        </span>
        <span
          *ngIf="registerForm.controls.confirmPassword.errors?.['PasswordMatch']"
        >
          Passwords dont match
        </span>
      </div>
    </div>
    <div class="register-input-field">
      <p>Country</p>
      <mat-form-field appearance="fill" class="countries-select">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="countryid" ngModel>
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="error">
        <span *ngIf="registerForm.controls.countryid | validation : 'required'">
          Required to select a country
        </span>
      </div>
    </div>
    <div class="register-input-field">
      <button
        class="register-input-button"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </div>
    <div class="register-input-field">
      <p>
        You have a account. <a class="hover-login" (click)="login()">Login</a>
      </p>
    </div>
  </form>
</mat-card>
