@import "../../../styles/variables.scss";

.mat-card ::ng-deep {
  justify-content: flex-end;
  margin: 35px 35px 0px 0px;
  background: transparent;
  color:$text-color;
}
.register-input-button {
  margin:  25px 50px;
  letter-spacing:2px;
  padding: 3px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background-color: gray;
  color:$text-color;
  display: inline-block;
}
.register-input-field {
  margin-top: 10px;
  text-align: center;
  input {
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
  }
}
input.ng-invalid.ng-touched{
  border: 2px solid red;
}
.error {
  color:$text-color;
}
.hover-login {
  color:$text-color;
  text-decoration: none;
}
.hover-login:hover {
  cursor: pointer;
}
.mat-form-field-appearance-fill.mat-form-field-flex ::ng-deep {
  background-color: white !important;
}
