@import "../styles/variables.scss";

footer {
  height: 5%;
  background-color: black;
  padding: 1.5rem;
  color: ivory;
  letter-spacing: 0.1rem;
  text-align: center;
  background: rgb(23, 22, 22);
  background: linear-gradient(180deg,
      rgba(23, 22, 22, 0.9783263647255778) 3%,
      rgba(57, 54, 54, 0.9783263647255778) 52%,
      rgba(102, 98, 98, 1) 100%,
      rgba(165, 162, 162, 1) 100%);
}
