<div class="login">
  <div class="box-none"></div>
  <mat-card class="login-card">
    <h3>Log in</h3>
    <form (ngSubmit)="loginUser()">
      <div class="input-field">
        <label for="email"> Email </label>
        <input
          class="login-input"
          type="email"
          placeholder="Email*"
          name="email"
          [(ngModel)]="form.email"
        />
      </div>
      <div class="input-field">
        <label for="password"> Password </label>
        <input
          class="login-input"
          type="password"
          placeholder="Password*"
          name="password"
          [(ngModel)]="form.password"
        />
      </div>
      <button class="login-button" type="submit">Login</button>
    </form>
  </mat-card>
</div>
