<div class="middle">
  <div class="box">
    <h4>Money power</h4>
    <div class="box-text">
      <div class="box-cnt">
        <img src="assets/img/money.jpg" />
      </div>
      <div class="box-info">
        <p>Name Surname 1998</p>
        <span>Category:General</span>
        <p class="box-par">
          <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </em>
        </p>
        <a class="bookoverveiw" href="details/money-power.html">BOOK OVERVEIW</a>
      </div>
    </div>
  </div>

  <div class="box">
    <h4>My First Love</h4>
    <div class="box-text">
      <div class="box-cnt">
        <img src="assets/img/my-first-love.jpg" alt="my first love img" />
      </div>
      <div class="box-info">
        <p>Name Surname 2000</p>
        <span>Category:General</span>
        <p class="box-par">
          <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </em>
        </p>
        <a class="bookoverveiw" href="details/my-first-love.html">BOOK OVERVEIW</a>
      </div>
    </div>
  </div>

  <div class="box">
    <h4>My Little Life</h4>
    <div class="box-text">
      <div class="box-cnt">
        <img src="assets/img/my-little-life.jpg" />
      </div>
      <div class="box-info">
        <p>Name Surname 2005</p>
        <span>Category:General</span>
        <p class="box-par">
          <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </em>
        </p>
        <a class="bookoverveiw" href="details/my-litle-life.html">BOOK OVERVEIW</a>
      </div>
    </div>
  </div>

  <div class="box">
    <h4>The Lost Trip</h4>
    <div class="box-text">
      <div class="box-cnt">
        <img src="assets/img/the-lost-trip.jpg" />
      </div>
      <div class="box-info">
        <p><strong>Name Surname</strong>:2008</p>
        <span>Category:History, Fantasy</span>
        <p class="box-par">
          <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </em>
        </p>
        <a class="bookoverveiw" href="details/the-lost-trip.html">BOOK OVERVEIW</a>
      </div>
    </div>
  </div>

  <div class="box">
    <h4>Dark</h4>
    <div class="box-text">
      <div class="box-cnt">
        <img src="assets/img/dark.jpg" />
      </div>
      <div class="box-info">
        <p><strong>Name Surname</strong>:2008</p>
        <span>Category:Fantasy</span>
        <p class="box-par">
          <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </em>
        </p>
        <a class="bookoverveiw" href="details/dark.html">BOOK OVERVEIW</a>
      </div>
    </div>
  </div>

  <div class="box">
    <h4>Find Me</h4>
    <div class="box-text">
      <div class="box-cnt">
        <img src="assets/img/find-me.jpg" />
      </div>
      <div class="box-info">
        <p><strong>Name Surname</strong>:2021</p>
        <span>Category:Literary, History</span>
        <p class="box-par">
          <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </em>
        </p>
        <a class="bookoverveiw" href="details/find-me .html">BOOK OVERVEIW</a>
      </div>
    </div>
  </div>
</div>
