<div class="bottom">
  <nav>
    <ul style="list-style: none">
      <li>Rows per page:</li>
      <li>
        <select name="rows">
          <option>1</option>
          <option>6</option>
          <option>12</option>
          <option>18</option>
        </select>
      </li>
      <li>1-6 of 104</li>
      <li>
        <a href="index.html"
          ><i class="fa fa-arrow-left" style="color:rgb(252, 252, 252)" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="homepage-category.html"
          ><i class="fa fa-arrow-right" style="color:rgb(252, 252, 252)" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </nav>
</div>
