@import "../../../../styles/variables";

.books-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .middle {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
