<div class="box" appBookBackground [category]="book.category">
  <h3>{{ book.title }}</h3>
  <div class="box-inside">
    <div class="box-content">
      <img [alt]="book.alt" [src]="book.src" />
    </div>
    <div class="box-info" appBookBackground [category]="book.category">
      <div class="box-description">
        <p class="book-surname">{{ book.surname }}</p>
        <p>{{ book.category }}</p>
        <div class="box-par">
          <p class="italic-text">{{ book.description }}</p>
        </div>
      </div>
      <div class="book-button">
        <a class="book-overview" [routerLink]="['/book', book.id]"
          >BOOK OVERVIEW</a
        >
      </div>
    </div>
  </div>
</div>
