@import "../../../styles/variables";
:host {
  width: 33%;
}
.box {
  margin-bottom: 10px;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: $text-color;
  padding: 20px;
}

  .box-inside {
    display: flex;
    justify-content: space-between;

  }

  .box-content {
    width: 40%;
     img {
      width: 90%;
      }
  }

  .box-par  {
    font-size: 11px;
    font-weight: 400 !important ;
    margin-bottom: 25px;
    max-height: 20vh;
    p {
      word-wrap:break-word;
    }
  }
  .box-info {
    width: 60%;
    margin-left: 10px;
    .book-surname {
      font-weight: bold;
    }
  }


  .book-overview{
    margin-top: 10px;
    padding: 3px 20px;
    border:1px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(32, 31, 31);
    color:$text-color;
    display: inline-block;
  }

  @media only screen and (max-width: 1024px) {
    :host {
      width: 48%;
      .box {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    :host {
      width: 48%;
      .box {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 550px) {
    :host {
      width: 100%;
      .box {
        width: 100%;
      }
      .box-par {
        font-size: 9px;
      }
    }
  }
