@import "../../../styles/variables";

.middle {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 30%;
  margin-bottom: 20px;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: $text-color;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .box {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .box {
    width: 49%;
    padding: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .box {
    width: 32%;
    padding: 10px;
  }
}
